.container{
  width: 100%;
  display: flex;
  justify-content: center;
  background: #ea9106;
  font-family: cursive;
}

.machine{
  max-width: 800px;
  display: flex;
  background: #313030;

  /* opacity: 0.7; */

  margin: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 3px #333;
}

.pads{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.outer-drum-pad{
  width: 120px;
  height: 120px;
  background: #1ec8ce;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.drum-pad{
  width: 97%;
  height: 97%;
  background: radial-gradient(#333, #070707);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.drum-pad:hover {
  color: white;
}

.side-panel {
  height: 100%;
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  font-size: 20px;
}

.label {
  color: white;
  font-style: oblique;
  text-align: center;
  font-size: 24px;
}

.display {
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  background: #1ec8ce;
  border-radius: 3px;
  color: #111;
}

.speakers {
  width: 100%;
  padding: 20px;
}

.speakers hr {
  background: #000;

  width: 90%;
  height: 9px;
  margin: 15px 0;
  border: none;
}

button {
  background: green;
  width: 40px;
  height: 20px;
  margin: 10px 0 5px;
  cursor: pointer;
}

input {
  margin: 10px;
}